﻿.character{ 
    position: relative;
    border-bottom: 1px solid black;
}

.character img{
    margin-right: 2%;
    float: left;
    height: 300px;
}

.character p {
    text-align: center;
    height: 300px;
    vertical-align: baseline;
}

.character h2{
    text-align: center; 
}