﻿html, body {
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(burlywood, #f8e1c3 99%);
    text-align: center;
}

header img {
    height: 200px;
}

header h1{
    margin: 0;
    padding: 10px;
    text-align: center;
}

.Menu {
    background-image: linear-gradient(#f9dbb5, #f9ab48);
    width: 15%;
    min-height: 300px;
    float: left;
    padding-left: 4%;
    margin-right: 5%;
}

.MainContent {
    background-color: antiquewhite;
    min-height: 300px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%; 
}

ul {
    margin: 0;
    padding-left: 2%;
}

ul li{  
    margin-bottom: 10px;    
    font-size: 20px;
}

a {
    text-decoration: none;
   color: black;
}

a:hover{
    font-size: 22px;
}

.MainContent ul {
    list-style-type: square;
}

.MainContent h2 {
    font-size: 30px;
    font-family: Verdana;
}

.MainContent h3 {
    font-size: 20px;
}

footer {
    background-image: linear-gradient(antiquewhite  , #f88e06);
    height: 80px;
    clear: both;
}

footer p{
    text-align: center;
    margin: 0;
    padding: 2%;
}